<div class="letterhead">
  {{#if logoSrc}}<img src="{{logoSrc}}" alt="MSPIL" class="logo">{{/if}}
  <div class="letterhead-text">
    <h1>Mahakaushal Sugar and Power Industries Ltd.</h1>
    <div class="cin">CIN - U01543MP2005PLC017514 &nbsp;|&nbsp; GSTIN - 23AAECM3666P1Z1</div>
    <div class="addr">
      Regd off : SF-11, Second Floor, Aakriti Business Center, Aakriti Eco city, Bawadiya Kalan, Bhopal-462039<br>
      Admin off &amp; Factory : Village Bachai, Dist. Narsinghpur (M.P.) - 487001<br>
      E-mail : mspil.acc@gmail.com | mspil.power@gmail.com
    </div>
  </div>
</div>
<div class="border-lines"></div>
